# ของฝั่ง Node.js / React
node_modules/
dist/
.env

# ของฝั่ง Python / Flask
.venv/
__pycache__/
*.pyc
# ไฟล์ Database Local (เพิ่มอันนี้เข้าไปด้วยครับ)
*.db

# ไฟล์เสียงที่เจนออกมา (ไม่ควรเอาขึ้น Git เพราะไฟล์ใหญ่)
*.wav
*.mp3

# ป้องกันไฟล์กุญแจ Firebase (สำคัญมาก!)
serviceKey.json

# ป้องกันโฟลเดอร์โหลดโมเดล AI (ไฟล์มันใหญ่มาก GitHub จะพังเอา)
hf_cache/